.card{
    display: inline-block;
    margin: 10px;
    width: 15rem;
    height: 16rem;
    .card-img__wrapper{
        height: 100px; 
        padding: 10px;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .card-title{
        text-align: left;
        font-size: 14px;
    }
    .card-text{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        display: -webkit-box;
        height: 6em;
        font-size: 14px;
        text-align: justify;
    }
}