<div>
  <app-slider></app-slider>

  <div class="item-list__wrapper">
      <app-list-horizontal [row]="startups" [title]="title"></app-list-horizontal>
  </div>
  
  <div class="item-list__wrapper">
      <app-list-horizontal [row]="startups" [title]="title"></app-list-horizontal>
  </div>

  <div class="item-list__wrapper">
      <app-list-horizontal [row]="startups" [title]="title"></app-list-horizontal>
  </div>

  <div class="item-list__wrapper">
      <app-list-horizontal [row]="startups" [title]="title"></app-list-horizontal>
  </div>

  <div class="item-list__wrapper">
      <app-list-horizontal [row]="startups" [title]="title"></app-list-horizontal>
  </div>

</div>
