<div class="team-detail__wrapper">
  <h3 class="heading">TEAM</h3>
  <div class="team-list__wrapper">

    <!-- TEAM MEMEBER 1 -->
    <div class="member-info__wrapper">
      <img src="http://i.pravatar.cc/300" class="rounded team-avatar" alt="team avatar">
      <div class="info__wrapper">
        <h4 class="name">Jhon Smith</h4>
        <h5 class="title">Co - Founder</h5>
        <a class="ref-link" href="www.google.com">View on LinkedIn</a>
      </div>
    </div>

    <!-- TEAM MEMEBER 2 -->
    <div class="member-info__wrapper">
      <img src="http://i.pravatar.cc/300" class="rounded team-avatar" alt="team avatar">
      <div class="info__wrapper">
        <h4 class="name">Jhon Smith</h4>
        <h5 class="title">Co - Founder</h5>
        <a class="ref-link" href="www.google.com">View on LinkedIn</a>
      </div>
    </div>


    <!-- TEAM MEMEBER 2 -->
    <div class="member-info__wrapper">
      <img src="http://i.pravatar.cc/300" class="rounded team-avatar" alt="team avatar">
      <div class="info__wrapper">
        <h4 class="name">Jhon Smith</h4>
        <h5 class="title">Co - Founder</h5>
        <a class="ref-link" href="www.google.com">View on LinkedIn</a>
      </div>
    </div>

    <!-- TEAM MEMEBER 2 -->
    <div class="member-info__wrapper">
      <img src="http://i.pravatar.cc/300" class="rounded team-avatar" alt="team avatar">
      <div class="info__wrapper">
        <h4 class="name">Jhon Smith</h4>
        <h5 class="title">Co - Founder</h5>
        <a class="ref-link" href="www.google.com">View on LinkedIn</a>
      </div>
    </div>

    <!-- TEAM MEMEBER 2 -->
    <div class="member-info__wrapper">
      <img src="http://i.pravatar.cc/300" class="rounded team-avatar" alt="team avatar">
      <div class="info__wrapper">
        <h4 class="name">Jhon Smith</h4>
        <h5 class="title">Co - Founder</h5>
        <a class="ref-link" href="www.google.com">View on LinkedIn</a>
      </div>
    </div>




  </div>
</div>