.item-details-header__container{
    padding: 0px 20px;
    .main-header__wrapper{
        .title{
            padding: 0px 10px
        }
        .founded-year{
            float: right;
        }
    }

    .sub-header__wrapper{
        margin-top: 10px;
        .tags__wrapper{
            display: inline;
            .tag{
                margin: 0px 5px;
                padding: 8px 15px;
            }
        }

        .contact-info__wrapper{
            display: inline-block;
            float: right;
            
            .contact-item{
                margin: 2px;
                fa-icon{
                    margin: 0px 5px;
                } 
            }
        }
    }
}