<div class="item-details-header__container">
  <div class="main-header__wrapper">
    <fa-icon [icon]="faChevronLeft" class="fa-lg"></fa-icon>
    <span class="title">WE WORK</span>
    <span class="founded-year">Founded: Feb 2019</span>
  </div>

  <div class="sub-header__wrapper">
    <div class="tags__wrapper">
        <span class="badge badge-pill badge-primary tag">co-working</span>
        <span class="badge badge-pill badge-primary tag">investor</span>
        <span class="badge badge-pill badge-primary tag">office</span>
    </div>
    <div class="contact-info__wrapper">
      <div class="contact-item">
        <fa-icon [icon]="faGlobe" class="fa-sm"></fa-icon>
        <a href="www.wework.com">www.wework.com</a>
      </div>
      <div class="contact-item">
        <fa-icon [icon]="faEnvelopeOpen" class="fa-sm"></fa-icon>
        <a href="mailto:info@wework.com">info@wework.com</a>
        </div>
    </div>
  </div>
</div>